MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@YOUR_CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=fleetwebco
PORT=4330
APP_ACCESS_USER=fleetadmin
APP_ACCESS_PASSWORD=CHANGE_TO_A_LONG_RANDOM_PASSWORD
PAYMENT_MODE=test
BOOKING_DEPOSIT_AMOUNT=100
BOOKING_HOLD_MINUTES=30
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
